echo "# lautixon.github.io-apimsd" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/lautixon/lautixon.github.io-apimsd.git
git push -u origin main
